.container {
    padding: 50px 50px 20px 50px;
}

.market {
    margin-top: 10px;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.title {
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
}

.description {
    /*background: gray;*/
    margin: 10px;
}

.info {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    color: #999;
}

.info span {
    display: inline-block;
    margin: 0 10px 0;
    font-weight: 700;
    color: #000;
}

.show_pic {
    margin: 10px;
    display: inline-block;
    width: 1050px;
}

.show_pic img {
    height: 100px;
    max-width: 150px;
    border: none;
    margin: 0 10px 0;
}

.manage {
    display: inline-block;
    margin: auto auto 10px auto;
}

.no_more {
    width: 94px;
    height: 38px;
    padding: 0 18px;
    line-height: 38px;
    font-size: 14px;
    border: 1px solid rgb(201, 201, 201);
    color: rgb(85, 85, 85);
    margin: auto;
    display: none;
}

.more {
    text-align: center;
    margin: 20px 0;
}

.hide {
    display: none;
}